{% extends 'curriculo/base.html' %}
{%block title%} Home {%endblock%}

{% block main %}

<div class="flex items-center justify-around mt-32">
           
    <div class="flex flex-col gap-8">
        <h2 class="text-4xl">Hello, I am <span class="text-green-500 font-bold"><a class="hover:text-green-700 transition-colors" href="">Diego!</a></span></h2>
        <p class="w-56">Feel free to know more about my professional carreer in process, get to know all the courses i took, and how i reached this level.</p>
        <div class="bg-green-500 rounded-full flex justify-center items-center h-12 shadow-2xl shadow-green-500" >
            <p>Keep Scrolling!</p>
        </div>
    </div>
   
    <div class="w-72 h-72 bg-green-500 rounded-full shadow-2xl shadow-green-500">
        
    </div>

</div>

<hr class="mt-56 bg-green-500 w-56 m-auto">

<div class="flex items-center justify-center flex-col w-96 text-center m-auto mt-24 gap-4">
    <h3 class="text-2xl text-center">Hey, hear <span class="font-bold text-green-500">about me</span>!</h3>
    <p>I am a student at IFRN with skills in Python. I've also got an intermediate level in React/JavaScript and advanced proficiency in English. I am passionate about technology and currently work as an Accounting Operations Assistant at an office, where I am enhancing my practical skills in the field, and corporatively. </p>
</div>

<hr class="mt-24 bg-green-500 w-56 m-auto" >

<div class="mt-16 p-16 flex flex-col items-center">
    <h4 class="text-2xl font-bold text-center"><span class="text-green-500">Building</span> the path block by block!</h4>
    <p class="text-center mt-8">Check it out, the professional development right here!</p>

        <div class="flex flex-row justify-evenly items-center gap-8 flex-wrap">
            <div class="w-64 h-80 bg-green-500 mt-16 rounded-2xl hover:bg-green-600 transition-colors">
                <div class="w-full h-32 bg-white rounded-t-2xl"></div>
                <div class="p-2 text-slate-950">
                    <p class="font-bold text-lg ">Título do curso</p>
                    <p>Plataforma:</p>
                    <p>Status:</p>
                </div>
                <p class="text-center flex justify-center mt-16 underline text-green-800 hover:text-green-500"><a href="">know more</a></p>
            </div>
            
        </div>
        

</div>

<hr class="mt-24 bg-green-500 w-56 m-auto" >

<div class="mt-16 p-16 flex flex-col items-center">
    <h4 class="text-2xl font-bold text-center"><span class="text-green-500">Skills</span></h4>
    <p class="text-center mt-8">Skills, past works, collaborations and others</p>

        <div class="flex flex-row justify-evenly items-center gap-8 flex-wrap">
            <div class="w-96 h-80 bg-green-500 mt-16 rounded-2xl hover:bg-green-600 transition-colors">
                <div class="w-full h-32 bg-white rounded-t-2xl"></div>
                <div class="p-2 text-slate-950">
                    <p class="font-bold text-lg ">Título</p>
                    <p class="">Descrição Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate similique animi rerum velit ipsa culpa at dolor iste, explicabo cum sunt temporibus incidunt ratione fugit esse maiores nesciunt asperiores deleniti?</p>
                </div>
            </div>
        </div>
        

</div>

{%endblock%}