{% extends 'curriculo/base.html' %}
{%block title%} Home {%endblock%}

{% block main %}

<div class="flex items-center justify-around mt-32">
           
    <div class="flex-col p-4 m-2 gap-8">
        <h2 class="text-4xl">Hello, I am <span class="text-green-500 font-bold">Diego!</span></h2>
        <p>Feel free to know more about my professional carreer in process</p>
        <div class="bg-green-700 rounded-full flex justify-center items-center h-12">
            <p>Keep Scrolling!</p>
        </div>
    </div>
   
    <div class="">
        <img src="" alt="Foto do desenvolvedor">
    </div>

</div>

<div class="professional">
    <h3>ABOUT ME!</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptas provident inventore reprehenderit magnam? Dolor temporibus odio exercitationem debitis quasi voluptatibus quae magnam, ea corporis quisquam esse molestias non sunt!</p>
</div>

<div class="courses">
    <h4>Building block by block!</h4>
    <p>Check up the professional developing right here!</p>

    <div class="div-cursos">
        
    </div>

</div>

{%endblock%}