{% extends 'curriculo/base.html' %}
{%block title%} Currículo {%endblock%}

{% block main %}
{% load static %}

<div class="flex items-center justify-around mt-32">
           
    <div class="flex flex-col gap-8">
        <h2 class="text-4xl">Hello, I am <span class="text-green-500 font-bold"><a class="hover:text-green-700 transition-colors" href="">Diego!</a></span></h2>
        <p class="w-56">Feel free to know more about my professional carreer in process, get to know all the courses i took, and how i reached this level.</p>
        <div class="bg-green-500 rounded-full flex justify-center items-center h-12 shadow-2xl shadow-green-500" >
            <p class="font-bold">Keep Scrolling!</p>
        </div>
    </div>
   
    <div class="w-72 h-72 bg-green-500 rounded-full shadow-2xl shadow-green-500">
        <img src="{% static 'curriculo/static/src/assets/profilepic.jpg' %}" alt="foto do desenvolvedor" class="h-full w-full">
    </div>

</div>

<hr class="mt-56 bg-green-500 w-56 m-auto">

<div class="flex items-center justify-center flex-col w-96 text-center m-auto mt-24 gap-4">
    <h3 class="text-2xl text-center">Hey, hear <span class="font-bold text-green-500">about me</span>!</h3>
    <p>I am a student at IFRN with skills in Python. I've also got an intermediate level in React/JavaScript and advanced proficiency in English. I am passionate about technology and currently work as an Accounting Operations Assistant at an office, where I am enhancing my practical skills in the field, and corporatively. </p>
</div>

<hr class="mt-24 bg-green-500 w-56 m-auto" >

<div class="mt-16 p-16 flex flex-col items-center">
    <h4 class="text-2xl font-bold text-center"><span class="text-green-500">Building</span> the path block by block!</h4>
    <p class="text-center mt-8">Check it out, the professional development right here!</p>

        <div class="flex flex-row justify-evenly items-center gap-8 flex-wrap">
            {% for curso in cursos%}
            <div class="w-64 h-80 bg-green-500 mt-16 rounded-2xl hover:bg-green-600 transition-colors">
                <img src="{{curso.pic.url}}" alt="{{curso.titulo}}" class="w-full h-32 bg-white rounded-t-2xl"></img>
                <div class="p-2 text-slate-950">
                    <p class="font-bold text-lg ">{{curso.titulo}}</p>
                    <p>Plataforma: {{curso.plataforma}}</p>
                    <p>Status:
                        {% if curso.is_learning %}
                        in progress
                        {%else%}
                        done!
                        {%endif%}
                    </p>
                </div>
                <p class="text-center flex justify-center mt-16 underline text-green-800 hover:text-green-500"><a href="">know more</a></p>
            </div>
            {%endfor%}
            
        </div>
        

</div>

<hr class="mt-24 bg-green-500 w-56 m-auto" >

<div class="mt-16 p-16 flex flex-col items-center">
    <h4 class="text-2xl font-bold text-center"><span class="text-green-500">Skills</span></h4>
    <p class="text-center mt-8">Skills, past works, collaborations and others</p>

        <div class="flex flex-row justify-evenly items-center gap-8 flex-wrap">
            {% for skill in skills%}
            <div class="w-96 h-80 bg-green-500 mt-16 rounded-2xl hover:bg-green-600 transition-colors">
                <img src="{{skill.pic.url}}" class="w-full h-32 bg-white rounded-t-2xl"></img>
                <div class="p-2 text-slate-950">
                    <p class="font-bold text-lg ">{{skill.titulo}}</p>
                    <p class="">{{skill.descricao}}</p>
                </div>
            </div>
            {%endfor%}
        </div>
        

</div>

{%endblock%}